<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saprj.dao.DatasetMapper">
    <resultMap id="BaseResultMap" type="com.saprj.entity.Dataset">
        <id column="did" jdbcType="INTEGER" property="did" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="size" jdbcType="BIGINT" property="size" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="tags" jdbcType="VARCHAR" property="tags" />
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="downnum" jdbcType="INTEGER" property="downnum"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.saprj.entity.Dataset" extends="BaseResultMap">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
    </resultMap>
    <resultMap id="DatasetView" type="com.saprj.view.DatasetView" extends="ResultMapWithBLOBs">
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>
    <sql id="Base_Column_List">
    did,name,type,size,uid,tags,url,downnum,img
    </sql>
    <sql id="Blob_Column_List">
    description
    </sql>
    <sql id="view">
        time
    </sql>
    <select id="selectByPrimaryKey" resultMap="DatasetView">
        select dataset.*
        <if test="uid != 0">
            , time
        </if>
        <if test="uid != 0">
            from dataset left join collect right join user on collect.uid = user.uid on dataset.did = collect.did
        </if>
        <if test="uid == 0">
            from dataset
        </if>
        where dataset.did = #{did,jdbcType=INTEGER}
        <if test="uid != 0">
            and user.uid = #{uid,jdbcType=INTEGER}
        </if>

    </select>

    <insert id="insert" parameterType="com.saprj.entity.Dataset">
    insert into dataset (did, name, type,size,uid,tags,url,downnum,img,description)
    values (#{did,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type ,jdbcType=INTEGER}, #{size,jdbcType=BIGINT}, #{tags,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{downnum,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.saprj.entity.Dataset">
        insert into dataset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="did != null">
                did,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="downnum != null">
                downnum,
            </if>
            <if test="img != null">
                img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="did != null">
                #{did,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="size != null">
                #{size,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="downnum != null">
                #{downnum,jdbcType=INTEGER},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 依照关键字搜索-->
    <select id="select" resultMap="DatasetView">
        select dataset.*
        <if test="uid != 0">
            , time
        </if>
        <if test="uid != 0">
            from dataset left join collect right join user on collect.uid = user.uid on dataset.did = collect.did
        </if>
         <if test="uid == 0">
             from dataset
         </if>
        where 1
        <if test="keyWord != null">
            or name like concat('%',#{keyWord},'%')
            or tags like concat('%',#{keyWord},'%')
        </if>
        <if test="uid != 0">
            and user.uid = #{uid,jdbcType=INTEGER}
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.saprj.entity.Dataset">
        update dataset
        <set>
            <if test="name != null">
               name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
               type = #{type,jdbcType=INTEGER},
            </if>
            <if test="size != null">
               size = #{size,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
              uid =  #{uid,jdbcType=INTEGER},
            </if>
            <if test="tags != null">
              tags =  #{tags,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
               url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description =  #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="downnum != null">
                downnum = #{downnum,jdbcType=INTEGER},
            </if>
            <if test="img != null">
               img = #{img,jdbcType=VARCHAR},
            </if>
        </set>
        where did = #{did,jdbcType=INTEGER}
    </update>

</mapper>